.email-background {
  background: #eee;
  padding: 10px;
}


.email-container {
  max-width: 500px;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;

}
.pre-header {
  max-width: 500px;
  background-color: white;
  text-align: center;
  background: #eee;
  color: #eee;
  font-size: 5px;
}

img {
float:center;
max-width:100%;
max-height:100%;
object-fit:cover;
}

p {
  margin: 20px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #666;
  line-height: 1.5;
}

.cta {
  text-align: center;
  margin: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  background: #666;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}


.footer-junk {
  max-width: 500px;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;
  font-size: 12px; 
}
